a {
    text-decoration: none!important;
}

.form-control {
    border: 0!important
}

.form-control:focus {
    border-color: inherit;
    outline: 0;
    box-shadow: none
}

.sticky-top {
    top: 50px;
    margin-bottom: 5%;
}

textarea {
    resize: none;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.nav-link.active {
    color: white!important;
    background-color: #8862e0!important;
}

.progress {
    background-color: #aaa!important;
}

.profile {
    color: white;
    text-align: center;
}

.profile .wrapper {
    width: 70%;
    margin: -100px auto auto;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #fff;
}

.background {
    height: 200px;
    background-size: cover;
}

a.list-group-item {
    position: relative;
    display: block;
    padding: 1rem 0.75rem!important;
    background-color: inherit!important;
    border: none!important;
}

.list-group-item.active, a.bg-dark:hover, a.bg-dark:focus {
    background-color: #1c1e2f!important;
}

.container-scroll {
    overflow: auto!important;
    height: 400px;
}

.size-message {
    width: 98%;
}

.input-group-text {
    border: none!important;
}

.dropdown-menu {
    z-index: auto!important;
}

.popover-body {
    background-color: #222437!important;
}

.btn-primary:focus, .btn-primary.focus {
    color: inherit!important;
    background-color: #1c1e2f!important;
    border-color: #1c1e2f!important;
    box-shadow: none!important;
}

.btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #8862e0!important;
    border-color: #8862e0!important;
    box-shadow: none!important;
}

.custom-file-label {
    color: #8862e0!important;
    background-color: #1c1e2f!important;
    border: #1c1e2f!important;
}

